doctype html
html
  include ./header.jade
  body
    div.container
      div.jumbotron
        h1 Welcome to Lottereo
        p a Trustless Lottery on the Ethereum Blockchain
      div The latest draw is 
        a(href="/draw/#{latestDraw}") #{latestDraw}
